.Header {
    background: #6b5b95;
    color: white;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.item {
    color: white;
}

.itemRight {
    position: absolute;
    right: 1%;
}

.logout {
    background-color: white;
    color:#6b5b95;
    margin-top: 5%;
}

.logout:hover {
    background-color: #6b5b95;
    color: white;
}