.Home {
    background: #6b5b95;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cardStyle {
    width: 80%;
    margin: 10%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.Row {
    margin: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .cardStyle:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.clickButton {
  color: white;
  background: #6b5b95;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.cardimgdiv {
  height: 50%;
  position: relative;
}

.cardimg {
  object-fit: cover;
  height: 100%;
  width: 100px;
}

.react-chatbot-kit-user-avatar {
  height: 10%;
  width: 6%;
  /* float: left; */
}

.react-chatbot-kit-user-chat-message {
  /* float: right; */
  margin-top: 4%;
}

.react-chatbot-kit-user-chat-message-container {
  float: right;
  width: 50%;
  background: #6b5b95;
  padding: 2%;
  margin-top: 4%;
}

.react-chatbot-kit-chat-bot-message-container {
  /* float: left; */
  width: fit-content;
  margin-top: 4%;
  padding: 2%;
}

.react-chatbot-kit-chat-bot-avatar {
  float: left;
}

.bot {
  background: white;
  height: 70%;
  width: 40%;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2%;
  border: solid 5px;
  overscroll-behavior: none;
  overflow-y: scroll;
}

.react-chatbot-kit-chat-input {
  position: sticky;
  bottom: 0;
  width: 95%;
}

.react-chatbot-kit-chat-btn-send {
  position: fixed;
  bottom: 0;
  right: 0;
}

.react-chatbot-kit-chat-header {
  background-color: lightgrey;
  padding: 2%;
  border: solid 1px;
  position: sticky;
}

.react-chatbot-kit-chat-message-container {
}