.Login {
    display: flex;
    color: white;
    background: #6b5b95;
    background-image: url("../images/students.jpg"), linear-gradient(to right, blue, pink);
  }
  
  .appAside {
    width: 50%;
    background-color: #6b5b95;
  }
  
  .appForm {
    background-color: #12130f;
    padding: 25px 40px;
    overflow: auto;
  }