.SignUp {
  display: flex;
  color: white;
  background: #6b5b95;
}
  
.appAside {
  width: 50%;
  background-color: #6b5b95;
}
  
.appForm {
  margin: auto;
  width: 30%;
  background-color: #12130f;
  padding: 25px 40px;
  overflow: auto;
}

.alert {
  color: white;
}

.signupHeading {
  color: white;
  margin-bottom: 30%;
  text-align: center;;
}

.selectDept {
  padding: 3%;
  width: 100%;
}

.buttonM {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}
